/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  
}
ul.nav, .jumbotron h1{
	font-family: 'Montserrat', sans-serif;
}

ul.nav{

font-size:12px;

}
footer{

	background-color: #D9534F;
	padding-top: 150px;
	padding-bottom: 30px;

}
.jumbotron{

	text-align:center;
	background-image: url('../img/hero_image.jpg');
	color: white;
}
.jumbotrom h1{
	padding:20px 10px;
}
.jumbotron p{

	margin-bottom:30px;
	font-weight: 100;
}
#get_involved{

	background-color: #f5f5f5;
}


.btn-lg{
	font-size:36px;
}
.homepage{

	text-align: center;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;

}
.homepage h2, .homepage h3{
	text-transform:uppercase;
	color: #D9534F;
	font-family: 'Montserrat', sans-serif;

}
.homepage p {
	font-weight: 300;
	font-size: 20px;
}
.homepage a{
	color: #D9534F;
}
.homepage hr{
	border-top: 1px solid #D9534F;
	width: 160px;
	margin-top: 15px auto;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	
	border-top: 100px solid #fFF;
	position: absolute;
	top: 0;
	left: 17%;
}
.logo{
	position: absolute;
	top: 5px;
	left: 26%;

}
.spaces{
	min-height: 700px;
	background-color: #FFF;
}

.team_btn{

	text-align: center;
	margin: 30px 0;

}
.homepage a:hover{
	color:#D9534F;
	text-decoration: none;
	opacity: .8;
}

.thumbnail{
	min-height: 400px;
	background-color: #FFF;
	margin: 30px 0;
}
.team{
	background-color: #D8D8D8 ;
	}

.team_header{
	text-align: center;
	font-size: 30px;
	color: #D9534F;
	margin: 30px 0;
}

.src-image {
  display: none;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #284c79;
  color: rgb(136, 172, 217);
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid #FFF;
}
.content p{

	 font-size: 20px;
	 font-weight: 300;
	 color: #FFF;
}

 @media (max-width: 1199px) {

.jumbotron h1{
	font-size:80px;
	margin-bottom: 30px;
	color:#D9534F;
}



 }

 @media (max-width: 991px) {

.jumbotron h1{
	font-size:20px;
	margin-bottom: 30px;
	color:blue;
}



 }